:host/deep/h1{
color: blue;
}
  :body {
    font-family: Helvetica, Arial, sans-serif;
    border-color: aquamarine;
  }
  :host/deep/ .Ch1{
    margin-left: 15%;
    }
    :host/deep/ .fdi{
      display: inline-flex;
      flex-direction: row-reverse;
    }