<div class="leftPanel" >
  <p-accordion styleClass="acc">
    <p-accordionTab header="Administration" [selected]="true" styleClass="acc">
      <a
        [routerLink]="['/EditUser']"
        aria-current="true"
      >
        <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Master Data</span>
      </a>
      <a
        [routerLink]="['/EditUser']"
        class="list-group-item list-group-item-action py-2 ripple"
        aria-current="true"
      >
        <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Client</span>
      </a>
      <a
        [routerLink]="['/EditUser']"
        class="list-group-item list-group-item-action py-2 ripple"
        aria-current="true"
      >
        <i class="fas fa-tachometer-alt fa-fw me-3"></i
        ><span>User Registration</span>
      </a>
      <a
        [routerLink]="['/EditUser']"
        class="list-group-item list-group-item-action py-2 ripple"
        aria-current="true"
      >
        <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Product</span>
      </a>
      <a
        [routerLink]="['/EditUser']"
        class="list-group-item list-group-item-action py-2 ripple"
        aria-current="true"
      >
        <i class="fas fa-tachometer-alt fa-fw me-3"></i
        ><span>Client Product</span>
      </a>
      <a
        [routerLink]="['/EditUser']"
        class="list-group-item list-group-item-action py-2 ripple"
        aria-current="true"
      >
        <i class="fas fa-tachometer-alt fa-fw me-3"></i
        ><span>Releasse Note</span>
      </a>
      <a
        [routerLink]="['/EditUser']"
        class="list-group-item list-group-item-action py-2 ripple"
        aria-current="true"
      >
        <i class="fas fa-tachometer-alt fa-fw me-3"></i
        ><span>System Setting</span>
      </a>
    </p-accordionTab>
    <p-accordionTab header="Client Products">
      <p>
        <a
          [routerLink]="['/board']"
          class="list-group-item list-group-item-action py-2 ripple"
        >
          <i class="fas fa-chart-area fa-fw me-3"></i><span>board</span>
        </a>
      </p>
    </p-accordionTab>
    <p-accordionTab header="Service">
      <p>
        <a
          [routerLink]="['/board']"
          class="list-group-item list-group-item-action py-2 ripple"
        >
          <i class="fas fa-chart-area fa-fw me-3"></i><span>board</span>
        </a>
      </p>
    </p-accordionTab>
    <p-accordionTab header="QA">
      <p>
        <a
          [routerLink]="['/board']"
          class="list-group-item list-group-item-action py-2 ripple"
        >
          <i class="fas fa-chart-area fa-fw me-3"></i><span>board</span>
        </a>
      </p>
    </p-accordionTab>
    <p-accordionTab header="Reports">
      <p>
        <a
          [routerLink]="['/board']"
          class="list-group-item list-group-item-action py-2 ripple"
        >
          <i class="fas fa-chart-area fa-fw me-3"></i><span>board</span>
        </a>
      </p>
    </p-accordionTab>
  </p-accordion>
</div>
